input[type=text], select, textarea{
	width: 20%;
	padding:18px;
	border:30px ;
	border-radius: 20px;
	box-sizing:  ;
	margin-top: 30px;
	margin-bottom: 30px;
	resize: vertical;

}
input[type=submit]{
	background-color: blue;
	padding: 10px 18px;
	border:none;
	border-radius: 8px;
	cursor: pointer;
}

body {
	text-align: center;
	zoom: 100%;
	background-color: lime;
	

}
div {
	padding: 10px;
}
